body {
    background-color: #3c3f41;
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    min-height: 400px;
    min-width: 300px;
}

#root, #base {
    height: 100%;
}

.display-linebreak {
    white-space: pre-line;
}


.tab-block {
    height: 100%;
    width: 100%;
}

.style {
    height: 5%;
    background: #3c3f41;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5b8ab8;
}

.tab-content {
    height: 90%;
}

@media (min-width: 901px) {
    .title {
        font-size: 27px;
    }
}

@media (max-width: 900px) {
    .title {
        font-size: 17px;
    }
}